{% extends 'parent.html.twig' %}

{# 
le template enfant ne fait que remplir 
des blocks definis par le parent
#}

{% block titre1 %}
<h1>Accueil</h1>
{% endblock %}

{% block annonces %}
<section class="">
  <h5> inscription à notre newsletter</h5>
  {{ form_start(form) }}
      {{ form_widget(form) }}
      <button class="btn">{{ button_label|default('inscription') }}</button>
      <div class="{{ classConfirmation ?? 'gris' }}">{{ messageConfirmation ?? "texte par défaut" }}</div>
  {{ form_end(form) }}
</section>

{% endblock %}

{% block monjs %}
<script>
anime({
  targets: 'h1',
  translateX: 50
});
</script>
{% endblock %}
